@font-face {
    font-family: 'AkzidenzGroteskBQ';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/akzidenzgrotesk-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'AkzidenzGroteskBQ';
    font-style: normal;
    font-weight: 600;
    src: url('~assets/fonts/akzidenzgrotesk-bold-webfont.ttf') format('truetype');
}