<template>
	<div class="player__member">
		<img
			v-if="player.avatar"
			class="player__avatar"
			:src="player.avatar"
			:alt="player.username + '\'s avatar'"
		/>
		<div v-else class="player__avatar player__avatar--empty" />
		<p class="player__role">
			{{ role }}
		</p>
		<p v-if="player.username" class="player__username">
			{{ player.username }}
		</p>
		<button
			v-else
			class="player__username player__username--invite"
			@click="$emit('invite')"
		>
			Invite Player
		</button>
		<div class="player__stats">
			<p v-show="player.ready" class="player__ready">Ready</p>
			<p v-if="player.points" class="player__points">
				<img
					class="player__points-icon"
					src="~/assets/images/gf-pts-g.svg"
					alt=""
				/>
				<span class="player__points-amount">{{ player.points }}</span>
			</p>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		player: {
			type: Object,
			default: () => ({})
		}
	},

	computed: {
		role() {
			return this.player.leader ? 'Team Leader' : 'Team Player'
		}
	}
}
</script>

<style lang="scss" scoped>
.player__avatar {
	width: 140px;
	height: 187px;
	object-fit: cover;
	border-radius: 6px;
	filter: drop-shadow(0px 2px 12px rgba(107, 107, 101, 0.25));

	&--empty {
		border: 1px solid $color-border;
	}
}

.player__role {
	margin-top: 12px;
	color: #6b6b65;
	font-size: 12px;

	&::after {
		content: ' /';
	}
}

.player__username {
	margin-top: 3px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.5px;
}

.player__username--invite {
	padding-right: 19px;
	background: url('~assets/images/gf-caret-right.svg') no-repeat right / 8px
		auto;
}

.player__stats {
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.player__ready {
	border: 1px solid $color-black;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	line-height: 1;
	padding: 3px 4px;
}

.player__points {
	display: flex;
	align-items: center;
	margin-left: 12px;
}

.player__points-icon {
	width: 11px;
	height: 12px;
}

.player__points-amount {
	color: $color-red;
	font-size: 11px;
	letter-spacing: -0.5px;
	font-weight: bold;
	margin-left: 2px;
	margin-bottom: 2px;
}
</style>
