<!-- 
	NOTE: This file is not in use, but would be part of a future enhancement
	to break down the index.vue template file into e.g. LobbySettings and
	QueueScreen components. As such the data that these share would probably
	also be moved into a central vuex store, which was started in this file but
	again is not currently in use.
-->
<template>
	<div
		:class="[
			'lobby-searching',
			{
				'lobby-searching--found': gameFound
			}
		]"
	>
		<div class="relative z-10">
			<button class="btn-back-searching" @click="cancelSearch">
				<span class="sr-only">Back to lobby settings</span>
			</button>
			<p class="lobby-searching__intro">Matchmaking Lobby</p>
			<h1 class="lobby-searching__title">
				{{ searchingTitle }}
			</h1>
			<p class="lobby-searching__copy">
				{{ searchingCopy }}
			</p>
			<div class="lobby-searching__info">
				<p class="lobby-searching__info-label">Lobby</p>
				<div class="lobby-searching__info-content">
					<div class="lobby-searching__avatar">
						<img
							src="~assets/images/avatar-01.png"
							:alt="username + '\'s lobby'"
						/>
					</div>
				</div>
				<img src="~assets/images/gf-rect.svg" alt="" />
				<div class="lobby-searching__info-content">
					<p v-if="gameFound">
						By tapping accept, you agree to play a match that may
						last for up to 30 minutes
					</p>
					<p v-else>
						<span class="font-bold">
							{{ queueCount }}
						</span>
						in Queue
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	computed: {
		searchingTitle() {
			if (this.gameFound) {
				return 'A match has been found for you!'
			}
			return 'Searching for compatible opponents'
		},

		searchingCopy() {
			if (this.gameFound) {
				return `We've found a compatible opponent for you to play ${this.selectedGamemode} with in FIFA 19`
			}
			return "We're searching our database of players to pair you with an opponent of similar skill"
		},

		...mapState(['gameFound', 'username', 'queueCount', 'selectedGamemode'])
	}
}
</script>
