<template>
	<div class="setting">
		<dl class="setting__display">
			<dt class="setting__label">{{ setting.label }}</dt>
			<dd class="setting__current">{{ selectedName }}</dd>
		</dl>
		<button
			class="setting__dropdown"
			:aria-expanded="expanded"
			@click="expanded = !expanded"
		>
			<span class="sr-only">Toggle '{{ setting.label }}' dropdown</span>
		</button>
		<fieldset v-show="expanded" class="setting__options">
			<legend class="sr-only">{{ setting.label }} options</legend>
			<template v-for="(option, index) in setting.options">
				<input
					:id="'setting-' + setting.label + index"
					:key="'setting-' + setting.label + index"
					type="radio"
					:name="'setting-' + setting.label"
					:value="index"
					:checked="index === value"
					class="sr-only"
					@change="$emit('input', index)"
				/>
				<label
					:key="'label-' + setting.label + index"
					:for="'setting-' + setting.label + index"
					class="setting__button"
				>
					<span>{{ option }}</span>
				</label>
			</template>
		</fieldset>
	</div>
</template>

<script>
export default {
	props: {
		setting: {
			type: Object,
			default: () => ({})
		},
		value: {
			type: Number
		}
	},

	data() {
		return {
			expanded: false
		}
	},

	computed: {
		selectedName() {
			return this.setting.options[this.value]
		}
	}
}
</script>
<style lang="scss" scoped>
.setting {
	padding: 4px 0;
	border-top: 1px solid $color-border;
	flex-wrap: wrap;
}

.setting,
.setting__display {
	display: flex;
	align-items: center;
}

.setting__display {
	flex: 1 0 auto;
	font-size: 14px;
}

.setting__label {
	flex: 0 1 140px;
	font-weight: bold;
	margin-right: 16px;
}

.setting__dropdown {
	width: 40px;
	height: 40px;
	position: relative;

	&::after {
		content: '';
		display: block;
		width: 12px;
		height: 12px;
		position: absolute;
		top: 50%;
		left: 50%;

		background: url('~assets/images/gf-caret-down.svg') no-repeat center /
			contain;

		--rotate: 0;
		transform: translate(-50%, -50%) rotate(var(--rotate));
		transition: transform 0.2s ease-in-out;
	}

	&[aria-expanded='true']::after {
		--rotate: 180deg;
	}
}

.setting__options {
	width: 100%;
	display: flex;
	margin: 5px 0 10px;
}

.setting__button {
	border: 1px solid $color-border;
	border-right-width: 0;
	flex: 1 0 0;
	text-align: center;
	font-size: 14px;
	padding: 12px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&:last-child {
		border-right-width: 1px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	input:first-of-type + & {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

input:checked + .setting__button {
	background-color: $color-primary;
	color: #fff;
}
</style>
