<template>
	<div>
		<nav class="menu">
			<a href="/" class="menu__home-link">
				<img src="~/assets/images/gfinity-logo-neg.svg" alt="Gfinity" />
			</a>
			<span class="menu__game">FIFA 19</span>
			<button
				:class="['menu__toggle', { 'menu__toggle--active': menuOpen }]"
				@click="menuOpen = !menuOpen"
			>
				<span class="sr-only">Toggle menu</span>
			</button>
		</nav>
		<nuxt />
	</div>
</template>
<script>
export default {
	data() {
		return {
			menuOpen: false
		}
	}
}
</script>
<style lang="scss">
.menu {
	display: flex;
	align-items: center;
}

.menu__home-link {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-black;
	width: 105px;
	height: 105px;
	margin-right: auto;
}

.menu__game {
	font-size: 14px;
	font-weight: bold;
	margin-right: 25px;
}

.menu__toggle {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;

	$toggle-bar-height: 3px;
	$toggle-bar-spacing: 6px;
	&::before,
	&::after {
		content: '';
		display: block;
		width: 20px;
		height: $toggle-bar-height;
		background-color: $color-black;
		position: absolute;
		top: calc(50% - #{$toggle-bar-height / 2});
		left: 50%;
		transform: translate(-50%, var(--translate-y)) rotate(var(--rotate));
		transition: transform 0.2s ease-in-out;
	}

	&::before {
		--rotate: 0;
		--translate-y: -#{$toggle-bar-height / 2 + $toggle-bar-spacing / 2};
	}

	&::after {
		--rotate: 0;
		--translate-y: #{$toggle-bar-height / 2 + $toggle-bar-spacing / 2};
	}

	&--active {
		&::before,
		&::after {
			--translate-y: 0;
		}

		&::before {
			--rotate: -45deg;
		}

		&::after {
			--rotate: 45deg;
		}
	}
}
</style>
