<!--
	NOTE: As a future enhancement I would want to break down the template of this page-level file
	into e.g. LobbySettings and QueueScreen components, encapsulating the .lobby-settings and 
	.lobby-searching sections, respectively. The styles, methods etc. could then be separated out into those components too.
	Some of the data that these need to share would then probably be moved into a central Vuex store, as demonstrated 
	with the username field and the beginnings of the store/index.js and components/QueueScreen.vue files,
	which are otherwise not in use. I haven't continued with this currently for mainly time and laptop-freezing reasons.
-->
<template>
	<main :class="['container', { 'container--searching': searching }]">
		<div v-if="!searching" class="lobby-settings">
			<div class="btn-back-container">
				<button class="btn-back">Matchmaking Lobby</button>
			</div>
			<h1 class="lobby-name">{{ username }}'s lobby</h1>
			<div class="flex">
				<p class="lobby-tag">FIFA 19</p>
			</div>
			<section class="team" aria-label="Team">
				<PlayerCard
					:player="{
						avatar: require('~/assets/images/avatar-01-large.png'),
						username,
						ready: true,
						points: 74
					}"
				/>
				<PlayerCard @invite="invitePlayer" />
			</section>
			<section class="settings" aria-label="Lobby settings">
				<SettingsDropdown
					v-for="(setting, key) in lobbySettings"
					:key="key"
					v-model="setting.selected"
					:setting="setting"
				/>
			</section>
		</div>
		<div
			v-else
			:class="[
				'lobby-searching',
				{
					'lobby-searching--found': gameFound
				}
			]"
		>
			<div class="relative z-10">
				<button class="btn-back-searching" @click="cancelSearch">
					<span class="sr-only">Back to lobby settings</span>
				</button>
				<p class="lobby-searching__intro">Matchmaking Lobby</p>
				<h1 class="lobby-searching__title">
					{{ searchingTitle }}
				</h1>
				<p class="lobby-searching__copy">
					{{ searchingCopy }}
				</p>
				<div class="lobby-searching__info">
					<p class="lobby-searching__info-label">Lobby</p>
					<div class="lobby-searching__info-content">
						<div class="lobby-searching__avatar">
							<img
								src="~assets/images/avatar-01.png"
								:alt="username + '\'s lobby'"
							/>
						</div>
					</div>
					<img src="~assets/images/gf-rect.svg" alt="" />
					<div class="lobby-searching__info-content">
						<p v-if="gameFound">
							By tapping accept, you agree to play a match that
							may last for up to 30 minutes
						</p>
						<p v-else>
							<span class="font-bold">
								{{ queueCount }}
							</span>
							in Queue
						</p>
					</div>
				</div>
			</div>
		</div>
		<button
			:class="[
				'btn-play',
				{
					'btn-play--searching': searching,
					'btn-play--found': gameFound
				}
			]"
			@click="handlePlayButton"
		>
			<span class="btn-play__action">{{ buttonLabel }}</span>
			<span>{{ buttonInfo }}</span>
		</button>
	</main>
</template>
<script>
import { mapState } from 'vuex'
import PlayerCard from '@/components/player-card'
import SettingsDropdown from '@/components/settings-dropdown'

export default {
	components: {
		PlayerCard,
		SettingsDropdown
	},

	data() {
		return {
			queueCount: 4021,
			searching: false,
			gameFound: false,
			lobbyTimer: 0,
			lobbyTimerId: null,
			gameFoundTimerId: null,
			// The UI will show you've 'found a game' after a set time
			// since none of this functionality actually exists
			dummyGameFindTime: 25000, // 25 seconds
			lobbySettings: {
				type: {
					label: 'Type',
					options: ['Competitive', 'Casual', 'Custom'],
					selected: 0
				},
				gamemode: {
					label: 'Gamemode',
					options: ['Squad Battles', 'Tournament', 'Single Match'],
					selected: 0
				},
				status: {
					label: 'Lobby Status',
					options: ['Invite Only', 'Friends only', 'Public'],
					selected: 0
				}
			}
		}
	},

	computed: {
		...mapState(['username']),

		buttonLabel() {
			if (!this.searching) {
				return 'Play Now'
			}

			if (!this.gameFound) {
				return 'Searching…'
			}

			// Found a game
			return 'Accept'
		},

		buttonInfo() {
			if (!this.searching) {
				return `${this.queueCount} in Queue`
			}

			return this.lobbyTimerDisplay
		},

		lobbyTimerDisplay() {
			let minutes = Math.floor(this.lobbyTimer / 60)
			let seconds = this.lobbyTimer - minutes * 60

			minutes = minutes.toString().padStart(2, '0')
			seconds = seconds.toString().padStart(2, '0')

			const sign = this.gameFound ? '-' : ''

			return `${sign}${minutes}:${seconds}`
		},

		searchingTitle() {
			if (this.gameFound) {
				return 'A match has been found for you!'
			}
			return 'Searching for compatible opponents'
		},

		selectedGamemode() {
			const index = this.lobbySettings.gamemode.selected
			return this.lobbySettings.gamemode.options[index]
		},

		searchingCopy() {
			if (this.gameFound) {
				return `We've found a compatible opponent for you to play ${this.selectedGamemode} with in FIFA 19`
			}
			return "We're searching our database of players to pair you with an opponent of similar skill"
		}
	},

	watch: {
		searching(isSearching) {
			this.lobbyTimer = 0
			if (isSearching) {
				this.lobbyTimerId = setInterval(() => {
					this.lobbyTimer++
				}, 1000)

				// dummy 'find game' method, since this doesn't exist
				this.gameFoundTimerId = setTimeout(() => {
					this.gameFound = true
					this.lobbyTimer = 0
				}, this.dummyGameFindTime)
			} else {
				clearInterval(this.lobbyTimerId)
				clearTimeout(this.gameFoundTimerId)
			}
		}
	},

	methods: {
		invitePlayer() {
			window.alert('Some kind of invite player method')
		},

		handlePlayButton() {
			if (!this.searching) {
				// some kind of method to search, probably some kind of network call etc.
				this.searching = true
			} else if (!this.gameFound) {
				// cancel the search
				this.cancelSearch()
			} else {
				// game found, some kind of join match method
				window.alert('Some kind of join match method')
			}
		},

		cancelSearch() {
			this.searching = false
			this.gameFound = false
		}
	},

	beforeUnmount() {
		clearInterval(this.lobbyTimerId)
		clearTimeout(this.gameFoundTimerId)
	}
}
</script>
<style lang="scss" scoped>
.container {
	padding: 16px 16px 109px 16px;
	position: relative;
	max-width: none;

	&--searching {
		padding: 0;
	}

	&::before {
		content: '';
		display: block;
		position: fixed;
		z-index: 0;
		width: 375px;
		height: 696px;
		top: 0;
		right: 0;
		background: url('~assets/images/fifa19-ronaldo-fg-lg.png') no-repeat
			right top;
		transform: translate(145px, -313px);
		mix-blend-mode: multiply;
		opacity: 0.8;
		pointer-events: none;
	}

	&--searching::before {
		transition: transform 0.2s ease-in-out;
		transform: translate(0, 80px);
	}
}

.lobby-name {
	margin: 16px 0 12px;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -2px;
	padding-right: 25px;
	background: url('~assets/images/gf-lock.svg') no-repeat right / 12px auto;
}

.lobby-tag {
	background-color: $color-black;
	border-radius: 0 100px 100px 0;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 1.5px;
	padding: 1px 7px 1px 5px;
}

.btn-back-container {
	padding-bottom: 16px;
	border-bottom: 1px solid $color-border;
	line-height: 1;
	letter-spacing: -0.5px;
}

.btn-back {
	padding-left: 45px;
	font-size: 16px;
	font-weight: bold;
	background: url('~assets/images/gf-arrow-left.svg') no-repeat left / 22px
		auto;
}

.team {
	margin-top: 24px;
	display: flex;
	gap: 0 16px;
}

.btn-play {
	background: $color-primary url('~assets/images/gf-arrow-right.svg')
		no-repeat calc(100% - 24px) / 22px auto;
	display: flex;
	color: #fff;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 36px 54px 36px 16px;
	text-align: left;
	font-size: 14px;
	z-index: 10;

	&__action {
		flex: 0 1 140px;
		font-weight: bold;
		margin-right: 48px;
	}

	&--searching {
		transition: transform 0.2s ease-in-out;
		transform: translateY(-26px);
		width: auto;

		&:not(.btn-play--found) {
			background-color: $color-black;
			background-image: url('~assets/images/gf-close.svg');
			background-size: 14px auto;
		}
	}
}

.settings {
	padding-top: 32px;
}

.lobby-searching {
	background-color: $color-primary;
	color: #fff;
	margin-right: 24px;
	padding: 16px;
	min-height: calc(100vh - 175px);
	padding-bottom: 80px;
	margin-bottom: 62px;
	transition: background-color 0.2s ease-in-out;

	&--found {
		background-color: $color-black;
	}
}

.lobby-searching__intro {
	font-weight: bold;
	letter-spacing: -0.5px;
	margin-top: 42px;
}

.lobby-searching__title {
	font-size: 48px;
	line-height: 0.9;
	letter-spacing: -3px;
	font-weight: bold;
	margin-top: 24px;
}

.lobby-searching__copy {
	font-size: 18px;
	letter-spacing: -0.75px;
	line-height: 1.2;
	margin-top: 24px;
}

.lobby-searching__info {
	margin-top: 60px;
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 36px;
	align-items: center;
}

.lobby-searching__info-label,
.lobby-searching__info-content {
	font-size: 12px;
}

.lobby-searching__avatar {
	position: relative;
	width: 42px;
	height: 42px;

	img {
		border-radius: 100%;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: -7px;
		left: -7px;
		right: -7px;
		bottom: -7px;
		border: 2px solid #fff;
		border-radius: 100%;
	}
}

.btn-back-searching {
	display: block;
	width: 105px;
	height: 105px;
	margin: -16px 0 0 -16px;
	background: $color-black url('~assets/images/gf-arrow-left-neg.svg')
		no-repeat center / 22px auto;
}
</style>
